indentation when inserting and extracting [rfced] comments from XML file

The [rfced] comments are questions that get directly placed into an email to authors - ideally they are clear and readable. While editing an XML file in VS Code, I tried inserting comments in a typical manner, e.g., going to a line between between elements and typing the comment. VS Code automatically indents the comment, and when it's a multi-line comment or involves copy & paste of the original text (which it usually does), the indentation is odd.

Then, using DraftForge's "Extract [rfced] Comments", the output requires cleanup bc of the haphazard indentation. Seeking guidance on approaches (to avoid the user hitting delete on many lines to insert comments), we could - after comments are inserted in the file:
 - manually outdent the comments (in VS Code, we can highlight the comment, then Shift-Tab repeatedly to outdent. However, Shift-Tab is not a good option if the comment contains text where spacing matters), 
- use a VS Code extension that allows always inserting comments at the far left in the XML file. (would need a recommendation. various results when searching "Is there a VS code extension to always insert XML comments with zero indentation?") 
- run a 'prettify' script or other post-processing for XML file so that comments are at the far left before being extracted.

Example: 
- [1st input XML file](https://github.com/alicerusso/test-files/blob/main/test9951_indentedcomm.xml) after entering the comments typically, without deleting the added indentation. 
- [1st output](https://github.com/alicerusso/test-files/blob/main/extractcomm1.txt) of DraftForge's "Extract [rfced] Comments". Not suitable for purpose. e.g., # 3, 5, 9-11.
- [2nd input XML file](https://github.com/alicerusso/test-files/blob/main/test9951.xml) after manual removal of indentation (this was not using Shift-Tab). (The file was further edited, so not exactly the same text as 1st example, but you get the idea.)
- yields better [2nd output](https://github.com/alicerusso/test-files/blob/main/extractcomm2.txt) from "Extract [rfced] Comments".

Added a "dedent" processing stage in the Extract [rfced] comments tool in 0.28.1.

This removes indentation up to the base position of the comment (the shortest starting position in the whole comment).

---
In your example XML file:
```xml
            <!--[rfced] We suggest changing "analysis choice" (4 instances) to 
            "analytic choice" or "analytical choice", because "analysis" is a noun. 
            We note the term "analysis choice" is only used RFC 8912. For example:
            
            Original:
               see Section 5 of [RFC6703] for background on this analysis choice.

            Perhaps:
              see Section 5 of [RFC6703] for background on this analytic choice.
            -->
```
becomes
```
5. We suggest changing "analysis choice" (4 instances) to 
"analytic choice" or "analytical choice", because "analysis" is a noun. 
We note the term "analysis choice" is only used RFC 8912. For example:

Original:
   see Section 5 of [RFC6703] for background on this analysis choice.

Perhaps:
  see Section 5 of [RFC6703] for background on this analytic choice.
```

---
However, if the comment has some lines starting too far to the left, that extra indentation will still be kept:
```xml
      <!--[rfced] This correlation enables the detection of A and B
      or This correlation enables A and B.
      
      Original:
      This correlation enables the detection of changes in
   forwarding paths, such as updated intermediate hops or interfaces,
   and the resulting impact on delay experienced by customer traffic.
      -->
```
becomes
```
2. This correlation enables the detection of A and B
   or This correlation enables A and B.
   
   Original:
   This correlation enables the detection of changes in
forwarding paths, such as updated intermediate hops or interfaces,
and the resulting impact on delay experienced by customer traffic.
```
This is necessary to keep intentional indentation in comments.