Ability to search for cross references to sections of other RFCs and tag them with xref

Sometimes an author will mention a section in an other RFC (e.g., "See Section 1.1 of RFC 9110") but not add a `<xref>` tag. The RPC will add `<xref>` tags when we find these mentions. 

The user should be able tag these section mentions with `<xref>` automatically by selecting an option from a menu or by clicking a button.  Like other Find/Replace features, this should allow the user to either confirm each update or to permit changes throughout the XML file. 

This functionality is currently provided by the fixsubref.py script.  